<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Cadastro de Professor'">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  
    <title>Professor</title>
  </head>
<body>
    <div layout:fragment="content">


        <form class="form-inline" th:action="@{/admin/professores}" method="POST" th:object="${professor}">
            <input type="hidden" th:field="*{id}" />

            <div class="form-group mx-sm-3 mb-2">
                <label for="nome">Nome</label>
                <input type="text" th:field="*{nome}" class="form-control mb-2" />
                <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}" class="alert alert-danger" />
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="fone">Fone</label>
                <input type="number" th:field="*{fone}" class="form-control mb-2 " />
                <p th:if="${#fields.hasErrors('fone')}" th:errorclass="error" th:errors="*{fone}" class="alert alert-danger" />
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="matricula">Matricula</label>
                <input type="number" th:field="*{matricula}" class="form-control mb-2" />
                <p th:if="${#fields.hasErrors('matricula')}" th:errorclass="error" th:errors="*{matricula}" class="alert alert-danger" />
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="login">Login</label>
                <input type="text" th:field="*{login}" class="form-control mb-2" />
                <p th:if="${#fields.hasErrors('login')}" th:errorclass="error" th:errors="*{login}" class="alert alert-danger" />
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="senha">Senha</label>
                <input type="password" th:field="*{senha}" class="form-control mb-2 " />
                <p th:if="${#fields.hasErrors('senha')}" th:errorclass="error" th:errors="*{senha}" class="alert alert-danger" />
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <input type="checkbox" th:field="*{coordenador}" class="form-check-input mt-2" />
                <label class="form-check-label mt-1">
                    Coordenador
                </label>
                <p th:if="${#fields.hasErrors('coordenador')}" th:errorclass="error" th:errors="*{coordenador}" class="alert alert-danger" />
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-secondary" th:href="@{/admin/professores}">Cancelar</a>
            </div>
        </form>
    </div>
</body>

</html>