<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <title>Admin</title>
</head>
<body>
 
  <div class="container">
    <form th:action="@{/admin/colegiados/cadastro}" method="GET">
      <button class="btn btn-primary" type="submit">Novo Colegiado</button>
  </form>

    <div id="main">
      <h2>COLEGIADO</h2>

      <div id="form-register">
        <form th:action="@{/admin/colegiados}" method="post" th:object="${colegiado}">
            <input type="hidden" th:field="*{id}">

            <label for="datainicio">Data de início:</label>
            <input type="date" id="datainicio" th:field="*{dataInicio}" class="form-control"/>
          
          
            <label for="datafim">Data de fim:</label>
            <input type="date" id="datafim" th:field="*{dataFim}" class="form-control"/>
          
          
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" th:field="*{descricao}" class="form-control"/>
          
            <label for="portaria">Portaria:</label>
            <input type="text" id="portaria" th:field="*{portaria}" class="form-control"/>
          

            <label for="curso">Curso:</label>
            <input type="text" id="Curso" th:field="*{curso}" class="form-control"/>

            <!-- <label for="curso"> Curso:  </label>
            <select  th:field="*{curso.id}" id="curso" class="form-select mb-2">
              <option th:each="curso : ${cursoItems}" th:value="${curso.id}" th:text="${curso.nome}"></option>
          </select> -->

        

          <button type="submit" class="btn btn-primary"> Salvar </button>
        </form>
        
      </div>
    </div>
  </div>
</body>

</html>