<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout_coordenador}" th:with="titulo='Listagem de Processos'">

<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
 
  <title>Coordenador</title>
</head>
<body>

  <div layout:fragment="content">
    <div class="container">
        <form th:action="@{/coordenador/processos}" method="GET">
        </form>
        <br>
    <div id="main">
        <div>
          <h2>Listagem Processos</h2>

          <table class="table" id="tabela">
            <thead>
              <tr>
                <th scope="col">Número</th>
                <th scope="col">Aluno</th>
                <th scope="col">Assunto</th>
                <th scope="col">Status</th>
                <th scope="col">Adicionar Relator</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="processo : ${processos}">
                <th th:text="${processo.numero}"></th>
                <td th:if="${processo.participante != null}" th:text="${processo.participante.nome}"></td>
                <td th:unless="${processo.participante != null}">Participante não especificado</td>
                <td th:if="${processo.assunto != null}" th:text="${processo.assunto.nome}"></td>
                <td th:unless="${processo.assunto != null}">Assunto não especificado</td>

                <td th:text="${processo.status}"></td>
                <td th:if="${processo.relator == null}"> <a class="btn btn-primary" th:href="@{/coordenador/processos/{processoId}/relator(processoId=${processo.id})}"> Adicionar relator </a> </td>
                <td th:unless="${processo.relator == null}" th:text="${processo.relator.nome}"> </td>
              </tr>
            </tbody>
          </table>

          <div th:replace="~{/fragments/paging :: paginator('coordenador/processos', ${navPage})}" />
        </div>
    </div>
  </div>
</body>
</html>