<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Processos de professor'">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Processos</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="header">
            <h1>Processos</h1>
        </div>

        <div class="tabela">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Votar</th>
                        <th>Assunto</th>
                        <th>Voto</th>
                        <th>Justificativa</th>
                        <th>Documento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="processo : ${processos}" th:object="${processo}">
                        <td th:text="${processo.numero}"></td>
                        <td>
                            <a th:href="@{/professores/processos/{id}(id=${processo.id})}" class="btn btn-primary edit-button" data-id="[[${processo.id}]]">
                                <i class="fas fa-edit"></i> Votar
                            </a>
                        </td>
                        <td th:text="${processo.assunto.nome}"></td>
                        <td th:text="${processo.voto}"></td>
                        <td th:text="${processo.justificativa}"></td>
                        <td>
                            <span th:if="${processo.parecer == 0}">Sem documentos</span>
                            <a th:unless="${processo.parecer == 0}" href="#">Documento</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
